html {
    padding: 0;
    padding: 0;
    border: 0;
    background-color: #96adcc;
    color: #ffffff;
    font-family:Courier, monospace;
    font-size: 1.1em;
}

h2 {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    /* justify-content: center; */
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Section que contém todo o conteudo: */
#main_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section>section {
    color: #363636;
    padding:10px;
    margin: 10px;
    background-color: #cacac9;
    border-style: double;
    border-width: 8px;
    border-color: white;
    box-shadow: 8px 8px 3px #0000008b;
}

section>div, h4 {
    margin: 17px;
    display: flex;
    flex-direction:column;
}

input, select, button {
    width:7em;
    background-color: rgb(224, 225, 222);
    border-radius: 3px;
    font-size:0.8em;
}

#calcular_div {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.warn {
    color:red;
    font-size: 0.7em;
}

.result {
    margin-top: 0.5em;
}

.input_container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction:column; */
    align-items: center;
}

.tip {
    color: #7a7a7a;
    font-size: 0.9em;
}

nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    list-style-type: none;
    height: 2.2em;
}

nav a {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: #dedede;
    height: 75%;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.2em;
    border-style:double;
    border-color: #e9e9e9;
}

li {
    display: flex;
    height: 80%;
    align-items: center;
    margin-left: 0.3em;
}

nav a:visited {
    color: #363636;
}

.current_page {
    background-color: #cfcfcf;
    border-style: inset;
}



